@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

#inp {
    width: 496px;
}

.fon {
    font-size: 11px;
}

#container img {
    width: 128px;
}

.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 25px;
}

.container_2 h4 {
    font-size: 1.375rem;
    font-weight: bold;
}

.container_2 button {
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #6e00ff;
    color: #fff;
}

@media (max-width: 1536px) {
    .h5_3_1 {
        grid-gap: 10px;
    }
}

@media (max-width: 1280px) {

    .div_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .logo {
        margin-right: 10px;
    }

    #h5 {
        display: none;
    }

    .h5_3 h5 {
        display: none;
        grid-gap: 0;
    }

    .h5_3 img {
        width: 30px;
    }

    #li {
        display: none;
    }

    .footer {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;

        .div {
            margin-top: 40px;
            width: 400px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

}

@media (max-width: 1023px) {
    .div_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #li_home {
        display: none;
    }

    ul {
        font-size: .875rem;
    }

    footer h5 {
        font-style: 10px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

}

@media (max-width: 768px) {

    .div_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
    }
    #health {
        display: none;
    }
}